/* Основные стили для страницы */
body {
    background-color: #1E1E1E;
    color: #BEBEBE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Контейнер для всех настроек */
.settings-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    overflow-y: auto;
}

/* Кнопки */
.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

    .btn:hover {
        background-color: #0056b3;
    }

.btn-danger {
    background-color: #E64A19;
    padding: 8px 12px;
}

    .btn-danger:hover {
        background-color: #D84315;
    }

.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    background-color: #2a2a2a;
}

.tab-button {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    border: none;
    background: none;
    color: #ddd;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    outline: none;
}

    .tab-button:hover {
        color: #fff;
    }

    .tab-button::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: background-color 0.3s;
    }

    .tab-button.active::after {
        background-color: #fff;
    }

.collapse-content {
    display: none;
}

    .collapse-content.open {
        display: block;
    }

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #323232;
}

th {
    background-color: #171515;
    color: #1996BE;
}

tbody tr:nth-child(even) {
    background-color: #1E1E1E;
}

.table-bordered {
    width: 100%;
    border-collapse: collapse;
    border-color: #555;
}

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #555;
        padding: 5px;
        width: calc(100% - 10px);
    }

.pt-1 {
    padding-top: 0.25rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

    /* Широкие колонки для названий и группы */
    table th:first-child,
    table td:first-child,
    table th:nth-last-child(2),
    table td:nth-last-child(2) {
        min-width: 180px; /* Ширина для первой и предпоследней колонки */
        white-space: nowrap;
    }

        /* Поля ввода внутри первой и последней колонок */
        table td:first-child input,
        table td:nth-last-child(2) input {
            width: calc(100% - 10px); /* Растягиваем поле ввода на всю ширину ячейки */
            padding: 5px;
            margin: 0 5px;
            background-color: #171515;
            color: #FFFFFF;
            border: 2px solid #505050;
            border-radius: 4px;
            box-sizing: border-box;
        }

    /* Узкая колонка для кнопки "Удалить" */
    table th:last-child, table td:last-child {
        width: 80px; /* Узкая ширина для кнопки "Удалить" */
    }

    /* Узкие колонки для остальных данных */
    table td input {
        width: calc(100% - 10px); /* Растягиваем поле ввода на всю ширину ячейки */
        padding: 5px;
        margin: 0 5px;
        background-color: #171515;
        color: #FFFFFF;
        border: 2px solid #505050;
        border-radius: 4px;
        box-sizing: border-box;
    }
