@page
@model ModbusModel
@{
    ViewData["Title"] = "Мониторинг данных";
}

<h1>Мониторинг данных устройства</h1>

<div id="modbus-data">
    Данные будут загружены...
</div>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/site.js"></script>