@page
@model GravitonEcoWeb.Pages.SettingsModel
@{
    ViewData["Title"] = "Настройки";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graviton-ECO</title>
    <link rel="stylesheet" href="~/css/Setting.css?v=27" />
</head>
<body>
    <div class="settings-container">
        <div class="tabs">
            <button class="tab-button active" onclick="toggleGroup('log-changes')">Настройки подключения устройства</button>
            <button class="tab-button" onclick="toggleGroup('log-events')">Modbus конфигурация «значения и пороги»</button>
            <button class="tab-button" onclick="toggleGroup('log-service')">Modbus конфигурация «калибровка»</button>
        </div>

        <!-- DeviseConnection.json -->
        <div id="log-changes" class="collapse-content open pt-1">
            <table id="device-config" class="w-100 text-center table-bordered">
                <thead>
                    <tr>
                        <th>IpAddress</th>
                        <th>Port</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" id="ipAddress" class="form-control" /></td>
                        <td><input type="text" id="port" class="form-control" /></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success" onclick="saveConfig('DeviseConnection.json')">Сохранить</button>
        </div>

        <!-- modbusConfig.json -->
        <div id="log-events" class="collapse-content pt-1">
            <table id="modbus-config" class="w-100 text-center table-bordered">
                <thead>
                    <tr>
                        <th>№ Конф.</th>
                        <th>Описание</th>
                        <th>Адрес устройства</th>
                        <th>Регистр «Отображение данных»</th>
                        <th>Регистр «Установка порога 1»</th>
                        <th>Регистр «Установка порога 2»</th>
                        <th>Регистр «Установка прироста»</th>
                        <th>Регистр «Установка периода»</th>
                        <th>Регистр «Отображение порога 1»</th>
                        <th>Регистр «Отображение порога 2»</th>
                        <th>Регистр «Отображение порога 3»</th>
                        <th>Принадлежность к группе</th>
                        <th>Применить калибровку</th>
                        <th>Удаление конфигурации</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Заполняется через JavaScript -->
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="addModbusConfig()">Добавить запись</button>
            <button class="btn btn-success" onclick="saveConfig('modbusConfig.json')">Сохранить</button>
        </div>

        <!-- modbusColibrationGasConfig.json -->
        <div id="log-service" class="collapse-content pt-1">
            <table id="gas-config" class="w-100 text-center table-bordered">
                <thead>
                    <tr>
                        <th style="max-width:110px;">Описание</th>
                        <th style="max-width:50px;">Адрес устройства</th>
                        <th>Регистр «Отображение данных»</th>
                        <th>Регистр «Установка нуля»</th>
                        <th>Регистр «Концентрация ПГС»</th>
                        <th>Регистр «Значение АЦП»</th>
                        <th>Регистр «Расчётный «0»</th>
                        <th style="min-width:180px;">Принадлежность к группе</th>
                        <th style="min-width:180px;">№ в «Modbus Конфигурация»</th>
                        <th style="max-width:75px;">Выбор подписей колонок</th>
                        <th>Удаление конфигурации</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Заполняется через JavaScript -->
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="addGasConfig()">Добавить запись</button>
            <button class="btn btn-success" onclick="saveConfig('modbusColibrationGasConfig.json')">Сохранить</button>
        </div>
    </div>
    <script src="~/js/setting.js?v=4"></script>
</body>
</html>
