@page
@model GravitonEcoWeb.Pages.SettingsModel
@{
    ViewData["Title"] = "Настройки";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graviton-ECO</title>
    <link rel="stylesheet" href="~/css/Setting.css?v=9" />
</head>
<body>
    <div class="settings-container">
        <div class="tabs">
            <button class="tab-button active" onclick="toggleGroup('log-changes')">Настройки подключения устройства</button>
            <button class="tab-button" onclick="toggleGroup('log-events')">Modbus Конфигурация</button>
            <button class="tab-button" onclick="toggleGroup('log-service')">Калибровка Газоанализатора</button>
        </div>

        <!-- DeviseConnection.json -->
        <div id="log-changes" class="collapse-content open pt-1">
            <table id="device-config" class="w-100 text-center table-bordered">
                <thead>
                    <tr>
                        <th>IpAddress</th>
                        <th>Port</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" id="ipAddress" class="form-control" /></td>
                        <td><input type="text" id="port" class="form-control" /></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success" onclick="saveConfig('DeviseConnection.json')">Сохранить</button>
        </div>

        <!-- modbusConfig.json -->
        <div id="log-events" class="collapse-content pt-1">
            <table id="modbus-config" class="w-100 text-center table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Имя</th>
                        <th>Адрес Slave</th>
                        <th>Адрес Текущего значения</th>
                        <th>Адрес Порога 1</th>
                        <th>Адрес Порога 2</th>
                        <th>Нарастание</th>
                        <th>Период</th>
                        <th>Адрес Сигнала Порог 1</th>
                        <th>Адрес Сигнала Порог 2</th>
                        <th>Адрес Сигнала Порог 3</th>
                        <th>Группа</th>
                        <th>IsCalibration</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Заполняется через JavaScript -->
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="addModbusConfig()">Добавить запись</button>
            <button class="btn btn-success" onclick="saveConfig('modbusConfig.json')">Сохранить</button>
        </div>

        <!-- modbusColibrationGasConfig.json -->
        <div id="log-service" class="collapse-content pt-1">
            <table id="gas-config" class="w-100 text-center table-bordered">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Адрес Slave</th>
                        <th>Адрес Текущего значения</th>
                        <th>Установка нуля</th>
                        <th>Концентрация ПГС</th>
                        <th>Значение АЦП</th>
                        <th>Расчетный "0"</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Заполняется через JavaScript -->
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="addGasConfig()">Добавить запись</button>
            <button class="btn btn-success" onclick="saveConfig('modbusColibrationGasConfig.json')">Сохранить</button>
        </div>
    </div>
    <script src="~/js/setting.js?v=2"></script>
</body>
</html>
